body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  border: none;

}

ul {
  list-style: none;

}

a {
  text-decoration: none;
}

.header {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 170px;
  background: rgba(33, 33, 33, 1);
}

.header-app {
  display: flex;
  width: auto;
  height: 60px;
  border-radius: 40px;
  background: rgba(41, 41, 41, 1);
  padding-left: 20px;
  padding-right: 20px;
}

.foto-logo {
  width: 30px;
  height: 30px;
}


.logo-parg {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 600;
  line-height: 11.6px;
  color: rgba(232, 232, 232, 1);
}

.header-logo {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 15px;
}

.parag-one {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
  color: rgba(232, 232, 232, 1);
}


.block {
  display: flex;
  margin-left: 55px;
}

.all-block {
  display: flex;
  gap: 45px;
}

.nome {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 27.36px;
  text-align: right;
  color: rgba(244, 244, 244, 1);
  cursor: pointer;
}

.btn-logo {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  letter-spacing: -0.06em;
  text-align: center;
  color: rgb(0, 0, 0);
  background: rgba(242, 139, 99, 1);
  border-radius: 100px;
  height: 46px;
  width: 170px;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 130px;
  transition: transform 0.3s;
}

.btn-logo:hover {
  transform: scale(1.1);
}


.hero-text {
  font-family: 'Inter';
  font-size: 96px;
  font-weight: 500;
  line-height: 100.8px;
  letter-spacing: -0.07em;
  text-align: center;
  color: rgba(244, 244, 244, 1);
}

.too-block {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.zero-block {
  background: rgba(41, 41, 41, 1);
  width: 370px;
  height: 340px;
  border-radius: 24px;
  padding: 30px;
}

.foto-block {
  width: 720px;
  height: 400px;
  border-radius: 24px;
}

.btn-scoba {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(33, 33, 33, 1);
  width: 360px;
  height: 50px;
  background: rgba(242, 139, 99, 1);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.btn-scoba:hover {
  transform: scale(1.1);
}


.too-text {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: -0.01em;
  text-align: center;
  color: rgba(244, 244, 244, 1);
  margin-top: 120px;
}

/*  */

.sectionone {
  background: rgba(232, 232, 232, 1);
  border-radius: 60px;
  border: none;
  padding-top: 30px;
  margin-top: -60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  z-index: 1;
  position: relative;
}

.section-text {
  font-family: 'Inter';
  font-size: 95px;
  font-weight: 600;
  line-height: 0.25px;
  text-align: center;
  color: rgba(33, 33, 33, 1);
}

.section-prg {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: center;
  color: rgba(33, 33, 33, 1);
  width: 70%;
  margin: auto;
}

.one-corb {
  width: 480px;
  height: 300px;
  background: rgba(41, 41, 41, 1);
  padding: 30px;
  border-radius: 24px;
  border: none;
  transition: transform 0.3s;
}

.one-corb:hover {
  transform: scale(1.1);
  /* Збільшуємо блок до 110% його розміру */
}

.one-corb10 {
  width: 480px;
  height: 300px;
  background: rgba(41, 41, 41, 1);
  padding: 30px;
  border-radius: 24px;
  border: none;
  transition: transform 0.3s;
}

.one-corb10:hover {
  transform: scale(1.1);
  /* Збільшуємо блок до 110% його розміру */
}

.one-corb1 {
  width: 480px;
  height: 300px;
  background: rgba(242, 139, 99, 1);
  padding: 30px;
  border-radius: 24px;
  border: none;
  transition: transform 0.3s;
}

.one-corb1:hover {
  transform: scale(1.1);
  /* Збільшуємо блок до 110% його розміру */
}

.one-corb11 {
  width: 480px;
  height: 300px;
  background: rgba(41, 41, 41, 1);
  padding: 30px;
  border-radius: 24px;
  border: none;
  transition: transform 0.3s;
}

.one-corb11:hover {
  transform: scale(1.1);
  /* Збільшуємо блок до 110% його розміру */
}

.alles-block {
  display: flex;
  margin-top: 60px;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;


}

.text-corb {
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.06em;
  text-align: left;
  color: rgba(244, 244, 244, 1);
  margin-top: 40px;
}


.prg-corb {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: rgba(244, 244, 244, 1);
  margin-top: -25px;
}

.text-corb1 {
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.06em;
  text-align: left;
  color: rgba(33, 33, 33, 1);
  margin-top: 40px;
}


.prg-corb1 {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: rgba(33, 33, 33, 1);
  margin-top: -25px;
}

.foto-crop {
  width: 540px;
  height: 750px;
  border-radius: 24px;
}


.moll {
  width: 540px;
  height: 650px;
  border-radius: 24px;
  transition: transform 0.3s;
}


.moll:hover {
  transform: scale(1.1);
  /* Збільшуємо блок до 110% його розміру */
}

.sectiontho {
  background: rgba(33, 33, 33, 1);
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  margin-top: -50px;
}

.text-ceanc {
  font-family: 'Inter';
  font-size: 95px;
  font-weight: 600;
  line-height: 109.25px;
  text-align: center;
  color: rgba(244, 244, 244, 1);
}

.prg-ceanc {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  color: rgba(244, 244, 244, 1);
  width: 55%;
  margin: auto;
  margin-top: -70px;
}

.alles-ceanc {

  margin-top: 60px;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.small-images {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.small-imagesi {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.foto-sume {
  width: 520px;
  height: 679px;
  border-radius: 24px;
}

.block-man {
  width: 530px;
  height: 290px;
  border-radius: 24px;
  background: rgba(41, 41, 41, 1);
  padding: 20px;
  display: flex;
  gap: 30px;

}

.block-man {
  width: 530px;
  height: 290px;
  border-radius: 24px;
  background: rgba(41, 41, 41, 1);
  padding: 20px;
  display: flex;
  gap: 30px;

}

.block-mans {
  width: 530px;
  height: 290px;
  border-radius: 24px;
  background: rgba(242, 139, 99, 1);
  padding: 20px;
  display: flex;
  gap: 30px;

}





.glavn-cen {
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 600;
  line-height: 1px;
  letter-spacing: -0.06em;
  text-align: left;
  color: rgba(232, 232, 232, 1);
}

.glavn-cent {
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  color: rgba(232, 232, 232, 1);
  margin-top: 20px;
  padding-right: 46px;
}

.glavn-cents {
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  color: rgba(33, 33, 33, 1);
  margin-top: 20px;
  padding-right: 46px;
}

.pgr-glav {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(232, 232, 232, 1);
}

.pgr-glavs {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(33, 33, 33, 1);
}

.prg-sume {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(232, 232, 232, 1);
}

.prg-sumes {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(33, 33, 33, 1);
}

span {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgb(99, 99, 99);
}

.btn-sume {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(33, 33, 33, 1);
  width: 270px;
  height: 50px;
  background: rgba(242, 139, 99, 1);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.btn-sume:hover {
  transform: scale(1.1);
}

.btn-sumes {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(242, 139, 99, 1);
  width: 270px;
  height: 50px;
  background: rgba(41, 41, 41, 1);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.btn-sumes:hover {
  transform: scale(1.1);
}

.small {
  grid-column: span 1;
  /* Малі картинки займають один стовпець */
}

.large {
  grid-column: span 2;
  /* Велика картинка займає обидва стовпці */
}


.glavn-cenz {
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(232, 232, 232, 1);
  margin-top: 18px;
}


.block-man {
  opacity: 0;
  /* Початкова прозорість блоків */
  transition: opacity 0.8s;
  /* Плавне зміна прозорості */
}

.block-mans {
  opacity: 0;

}

.block-min {
  opacity: 0;

}

.visible {
  opacity: 1;

}

.zero-block {
  opacity: 0;

}

.one-block {
  opacity: 0;

}

/*  */

.text-aboud {
  font-family: 'Inter';
  font-size: 95px;
  font-weight: 600;
  line-height: 10.25px;
  letter-spacing: -0.01em;
  text-align: center;
  color: rgba(232, 232, 232, 1);
  padding-top: 60px;
}

.prg-aboud {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.01em;
  text-align: center;
  color: rgba(232, 232, 232, 1);
  width: 70%;
  margin: auto;
}

.all-abod {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top: 60px;
}

.block-abod {
  width: 500px;
  height: 480px;
  background: rgba(41, 41, 41, 1);
  border-radius: 24px;
  border: none;
  padding: 25px;
}

.foto-abot {
  width: 550px;
  height: 530px;
  border-radius: 24px;
  border: none;
}

.text-ani {
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 500;
  line-height: 5px;
  text-align: left;
  color: rgba(232, 232, 232, 1);
}

.prg-ani {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(232, 232, 232, 1);
}

.btn-blocki {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 25px;
}

.button-one {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-align: center;
  color: rgba(33, 33, 33, 1);

  width: 180px;
  height: 55px;
  border-radius: 100px;
  border: none;
  background: rgba(242, 139, 99, 1);
  cursor: pointer;
}

.button-tho {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-align: center;
  color: rgba(242, 139, 99, 1);
  border: 1px solid rgba(242, 139, 99, 1);
  background: rgba(41, 41, 41, 1);
  width: 180px;
  height: 55px;
  border-radius: 100px;
  cursor: pointer;
}

.me {
  font-family: 'Inter';
  font-size: 95px;
  font-weight: 600;
  line-height: 109.25px;
  letter-spacing: -0.01em;
  text-align: center;
  color: rgba(232, 232, 232, 1);
  padding-top: 90px;
}

.mes {
  font-family: 'Inter';
  font-size: 95px;
  font-weight: 600;
  line-height: 109.25px;
  letter-spacing: -0.01em;
  text-align: center;
  color: rgba(232, 232, 232, 1);
  padding-top: 40px;
}

.mapac {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa {
  width: 1000px;
  height: 500px;
  border-radius: 5px;
  border: none;
}

.blok-vid {
  width: 300px;
  height: 200px;
  background: rgba(41, 41, 41, 1);
  border-radius: 24px;
  border: none;
  padding: 30px;
}

.vid-all {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.blok-vids {
  width: 300px;
  height: 200px;
  background: rgba(242, 139, 99, 1);
  border-radius: 24px;
  border: none;
  padding: 30px;
}

.text-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.old {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.vet {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 300;
  text-align: right;
  color: rgba(255, 255, 255, 1);
}

.vrta {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.olda {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(33, 33, 33, 1);
}

.veta {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 300;
  text-align: right;
  color: rgba(33, 33, 33, 1);
}

.vrtae {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(33, 33, 33, 1);
}

.footer {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  padding-top: 40px;
  background: rgba(232, 232, 232, 1);
}

.text-fod {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-pargd {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 600;
  line-height: 11.6px;
  color: rgb(5, 5, 5);
}


.pase {
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.fod {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nore {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: center;
  color: rgb(5, 5, 5);
}

.tell {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fon {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: rgba(33, 33, 33, 1);
}